{% extends "base.html" %}
{% load static %}
<!-- Plugin CSS 
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/monokai-sublime.min.css">-->
{% block page_content %}
    <div class="main-wrapper">    
	    <article class="blog-post px-3 py-5 p-md-5">
		    <div class="container">
			    <header class="blog-post-header">
				    <h2 class="title mb-2">{{ project.title }}</h2>
					<div class="meta mb-3"><span class="date">{{ project.created_on.date }} &nbsp;</span>
						<small>Categories:&nbsp;</small>
						{% for category in project.categories.all %}
						<a href="{% url 'project_category' category.title %}" class="badge badge-secondary">{{ category.title }}</a>
						{% endfor %}
			    </header>
			    
			    <div class="blog-post-body">
				    <figure class="blog-banner">
						<img class="img-fluid" src="{{ project.imageURL }}" alt="image"></a>
				        <figcaption class="mt-2 text-center image-caption">{{ project.imgcaption }}</figcaption>
					</figure>
					<p>{{ project.description | linebreaks }}</p> 
				</div>
	
			    
				<!--Navigation Buttons-->  
			    <nav class="blog-nav nav nav-justified my-5">
					<a class="nav-link-prev nav-item nav-link rounded-left" href="{% url 'project_detail' prev_pk %}">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
					<a class="nav-link-next nav-item nav-link rounded-right" href="{% url 'project_detail' next_pk %}">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
				</nav> 
				
				
				
		    </div><!--//container-->
	    </article>
	    
    
    </div><!--//main-wrapper-->

	<!-- Page Specific JS -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>

	<!-- Custom JS -->
	<script src="{% static 'js/blog.js' %}"></script>

{% endblock %}
 

